aiohttp==3.6.2
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.2
Flask==1.1.1
gevent==20.5.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
MarkupSafe==1.1.1
multidict==4.7.5
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.4
psycopg2==2.8.5
ptyprocess==0.6.0
Pygments==2.6.1
requests==2.23.0
six==1.14.0
slackclient==2.5.0
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
Werkzeug==1.0.0
yarl==1.4.2
